body {
    /* background-color: #8EC5FC; */
    background-color: rgb(255, 255, 255);
    /* background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
    font-size: 1rem;
    font-weight: bold;
    margin: 0 auto;
  }
  
  img {
    height: 2rem;
    width: 2rem;
    border-radius: 5px;
  }
 
  
  #tabList {
    list-style-type: none;
    padding: 0;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    /* gap: 0.5rem; */
    max-height: 80vh;
    overflow-y: scroll;
    /* align-items: center; */
  }

  .container {
    display: flex;
    gap: 1rem;
    padding: 0.3rem;
    min-height: 90vh;
  }

  .leftbar {
    display: flex;
    flex-direction: column;
    height: 90vh;
  }

  .leftbar>div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #444444;
    margin-bottom: 0.5rem;
    border-radius: 10px;
  }

  li {
    /* margin-bottom: 1rem; */
    padding: 1rem;
    /* border: 1px solid black; */
    /* border-radius: 5px; */
    width: 450px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  span {
    display: flex;
    align-items: center;
  }

 
  .leftbar {
    width: 25%;
    min-width: 25%;
  }
 
  .selected {
    background-color: aliceblue;
    color: black;
    scale: 0.99;
    transition: all 0.2s ease-in-out;
}


.close-icon {
  cursor: pointer;
  margin-left: 8px;
  width: 16px;
  height: 16px;
  color: red;
}

.tab-content {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.title{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.rightbar{
  width: inherit;
}
/* Track (the background) */
::-webkit-scrollbar-track {
  background: aliceblue; /* Background color of the track */
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #ffffff; /* Color of the thumb (a nice blue) */
}



/* Scrollbar corner (between vertical and horizontal scrollbar) */
::-webkit-scrollbar-corner {
  background: aliceblue;
}

/* Optional: Width and height of the thumb */
::-webkit-scrollbar-thumb {
  width: 8px;
  height: 8px;
}

/* Optional: Radius of the thumb (round it) */
::-webkit-scrollbar-thumb:vertical {
  border-radius: 4px;
}

/* Optional: Radius of the thumb (round it) */
::-webkit-scrollbar-thumb:horizontal {
  border-radius: 4px;
}

/* Hide the scrollbar track and thumb */
::-webkit-scrollbar {
  width: 8px; /* Set a very small width */
}

/* Track (the background) - make it transparent */
::-webkit-scrollbar-track {
  background: transparent; /* Set background to transparent */
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: transparent; /* Set thumb background to transparent */
  border-radius: 0; /* Remove any border radius on the thumb */
}


input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }